body {
    background: linear-gradient(to right, #ffdfd2, #ffc9b3);
    font-family: 'Montserrat', sans-serif;
}

div{
    display: grid;
    justify-content: center;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    background-color: #ffe5e8;
    margin-left: 30% !important;
    margin-top: 5% !important;
}

label#cupom-ativo {
    text-align: center;
}

label{
    color: #6c567b;
}

h2{
    color: #6c567b;
    text-align: center;
}

h3{
    color: #6c567b;
    text-align: center;
}

th{
    color: #6c567b;
}

td{
    color: #6c567b;
}

a{
    border-radius: 3%;
    text-decoration: none;
    justify-content: center;
    display: flex;
    margin-left: 0% !important;
    margin-top: 3%;
    background-color: #ffe5e8;
    border: solid;
    border-color: #f67280;
    color: #6c567b;
}

a:hover {
    background-color: #f67280;
    border: solid;
    border-color: #f67280;
    color: #ffffff;
}

form {
    display: grid;
    justify-content: center;
}

input[type="submit"]{
    background-color: #f67280;
    color: #fff;
    border-color: #f67280;
    border-radius: 3%;
}

input[type="submit"]:hover{
    background-color: #c06c84;
    border-color: #c06c84;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #f67280;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 20%;
}

input[type="checkbox"]:checked {
  background-color: #f67280;
  border-color: #f67280;
}

input[type="checkbox"]::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block;
}